body{
  background-color: black;
  color: white;    
}

form{  
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  width: fit-content;
  padding: 10px;
  margin: auto; 
  
}
form input{
  width: 200px;
  margin: 10px;  
}
